Package: luci-app-fancontrol
Version: 2.0.0
Depends: libc, luci-base, rpcd, jsonfilter, kmod-hwmon-core, kmod-hwmon-pwmfan, kmod-i2c-core, lm-sensors
Architecture: all
Maintainer: OpenWrt User
Description: Automatic PWM fan control with LuCI web interface
