Package: luci-app-fancontrol
Version: 3.0.1
Depends: libc, luci-base, rpcd, jsonfilter, uci, kmod-hwmon-core, kmod-hwmon-pwmfan
Architecture: all
Maintainer: OpenWrt User
Description: Automatic PWM fan control with LuCI web interface
